<div >
    <h1>User Profile: {{viewUser.username}}</h1>
    <p *ngIf="viewUser.firstName || viewUser.lastName">Name: {{viewUser.firstName}} {{viewUser.lastName}}</p>
    <p *ngIf="viewUser.state">Location: {{viewUser.state}}</p>
    <p>Profile Created: {{viewUser.createdDate}}</p>
    <div *ngIf="currentUser.userId == viewUser.userId">
        <button [routerLink]="['/profile/edit/current']" >Edit User</button>
    </div>
</div>
<br><hr><br>
<div *ngIf="currentUser.userId == viewUser.userId">
    <app-create-post></app-create-post>
    <br><hr><br>
</div>

<div>
<h2>Posts</h2>
<div *ngFor="let post of postList" class="post">
    <h3>{{post.title}}</h3>
    <p>{{post.content}}</p>
    <br>
    <p>{{viewUser.username}}, {{post.postedDate}}</p>
    
    <div *ngIf="currentUser.userId == viewUser.userId">
        <button [routerLink]="['/posts/edit', post.postId]">Edit Post</button>
        <span> | </span>
        <button (click)="onItemDelete(post.postId)" >Delete Post</button>
    </div>

</div>
</div>